* {
  margin: 0px;
  padding: 0px;
  
  
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#likebtn:hover i{
  color: red;
}
#likebtn:active{
  color: red;
}
.ri-heart-fill{
  color: red;
}

#delbtn button:hover{
 background-color: rgba(255, 0, 0, 0.519) ;
 color: white;
}
#delbtn button:hover i{
 color:white;
}
#delbtn button i{
 color:red;
}